*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 480px;
    margin: auto;
    padding-top: 30px;
    background-color: rgb(252, 252, 253);
}

body {
    min-height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 80px;
    padding-bottom: 300px;
    background-image: url(../images/sea-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image {
    width: 100%;
    margin-bottom: 20px;
}

.article {
    padding: 5px 30px;
}

.article-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
    color: rgb(91, 91, 172);
}

.article-caption {
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(91, 91, 172);
}

.text-one {
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(91, 91, 172);
}

.text-two {
    text-align: left;
    margin-bottom: 20px;
}

.text-three {
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(54, 52, 177);
}

.list {
    list-style: none;
    margin: 20px;
    font-weight: 700;
    column-count: 2;
    color: rgb(54, 52, 177);
}

.list li {
    margin-bottom: 15px;
}

.article-under-line {
    padding: 30px;
    margin-top: 20px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(133, 125, 125)
}

