body {
    min-height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    color: #8db5d1;
}

.wrap {
    width: 1024px;
    margin: auto;
}

nav {
    position: relative;
}

.style {
    text-align: center;
}
.header {
    margin-bottom: 100px;
    font-size: 25px;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo a {
    text-decoration: none;
    display: block;
    width: 142px;
    height: 142px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #263555;
    font-size: 60px;
    font-family: "Dorsa";
    margin: auto;
    line-height: 142px;
    text-align: center;
}

.box-1 {
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.box-2 {
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.box-1, .box-2 {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.box-3 {
    display: none;
    width: 60px;
    height: 40px;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 50% 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__item {
    position: relative;
    display: inline-block;
    margin-right: 52px;
}

.menu__item:nth-child(3) {
    margin-right: 288px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item > a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
}

.submenu {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 58px;
    border-radius: 5px;
    padding: 5px;
    color:  rgb(38, 53, 85);
    border: 1px solid rgb(223, 220, 220);
    position: absolute;
    left: -5px;
    top: 40px;
}

.submenu__item {
    margin-bottom: 2px;
}

.submenu__item:last-child {
    margin-bottom: 0;
}

.submenu__item::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translate(-5px, 29%);
    border-top: 1px solid rgb(245, 244, 244);
    border-left: 1px solid rgb(245, 244, 244);
    top: -3px;
    left: 50%;
    z-index: 1;
}

.submenu__item > a {
    color: rgb(38, 53, 85);
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.menu__item > a:hover {
    color: rgb(38, 53, 85);
}

.menu__item:hover>.submenu {
    display: block;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.slider {
    margin-bottom: 30px;
    position: relative;
    display: block;
}

.slick-arrow {
    position: absolute;
    border: 0;
    z-index: 1;
    background-color: rgb(56, 175, 229);
    height: 55px;
    width: 28px;
    cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(64, 138, 172, 0.7);
}

.slick-prev {
    z-index: 1;
    bottom: 39px;
    left: 37px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.slick-prev::before {
    content: "\2190";
}

.slick-next::after {
    content: "\2192";
}

.slick-next {
    z-index: 1;
    left: 77px;
    bottom: 39px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.slick-prev, .slick-next {
    position: absolute;
    border: 0;
    width: 40px;
    height: 80px;
    background-color: #38afe5;
    color: #ffffff;
    font-size: 20px;
}

.slider img {
    display: block;
    height: 650px;
    width: 100%;
} 

.places {
    display: block;
    width: 190px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(38, 53, 85);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    padding: 9px 15px;
    position: absolute;
    top: 200px;
    left: 20px;
    border: 1px solid rgb(241, 241, 234);
    z-index: 30;
}

.worth {
    display: block;
    width: 216px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: #38afe5;
    padding: 8px 10px;
    position: absolute;
    top: 115px;
    left: 20px;
    z-index: 30;
}

.worth a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    padding: 6px 6px;
}
  
h2 {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 30px;
    color: rgb(38, 53, 85);
    font-weight: 600;
}

.cities {
    display: inline-block;
    position: relative;
    width: 32%;
    height: 262px;
}


.destinations img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(241, 241, 230);
    object-fit: cover;
}
.cities {
    margin-right: calc(2% - 4px);
}
.cities:last-of-type {
    margin-right: 0;
}

.cities:hover .citydetails {
    display: block;
}

.citydetails {
    display: none;
    width: 50%;
    height: 100%;
    padding: 4px 10px;
    background-color: #193149;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.citydetails h3 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 7px;
    color: rgb(176, 191, 223);
    text-align: center;
}

.citydetails p {
    font-size: 12px;
}

.btn {
    background: #c1d2dd;
    border-radius: 5px;
    color: #665c5c;
    font-size: 10px;
    padding: 2px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 100px;
  }

.btn:hover {
    background: #38afe5;
    text-decoration: none;
  }